<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts and icons -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <title>Título dinámico próximamente...</title>
</head>

<body>
    <h1>
        {{titulo}}
    </h1>
    <!-- Header -->
    {{> header }}

    <!-- Nav -->
    {{> navbar }}

    <header>
        <h2>Nibh non lobortis mus nibh</h2>
        <p>01.01.2017</p>
    </header>
    {{> footer year=2020}}
</body>

</html>