<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título dinámico próximamente...</title>
</head>

<body>
    <h1>
        {{titulo}}
    </h1>
    <!-- Header -->
    {{> header }}

    <!-- Nav -->
    {{> navbar }}

    <header>
        <h2>Nibh non lobortis mus nibh</h2>
        <p>01.01.2017</p>
    </header>
</body>

</html>